.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0, 0, 0, 0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

/* Bootstrap icon size and spacing */
.bi {
    font-size: 1.2rem;
    margin-right: 0.6rem;
    vertical-align: -0.125em;
}

/* Nav item layout */
.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type {
    padding-top: 1rem;
}

.nav-item:last-of-type {
    padding-bottom: 1rem;
}

/* Nav link styling */
.nav-item ::deep a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

/* Active link style */
.nav-item ::deep a.active {
    background-color: rgba(255, 255, 255, 0.37);
    color: white;
}

/* Hover style */
.nav-item ::deep a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

/* Responsive sidebar behavior */
@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        display: block; /* Always show sidebar on wide screens */
    }

    .nav-scrollable {
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
