@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthProvider
@using UniversityBlazor.Providers

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">UniversityBlazor</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable d-flex flex-column justify-content-between">
    <nav class="flex-column">
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Profile" Match="NavLinkMatch.All">
                        <i class="bi bi-person-circle"></i> Profile
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Schedule" Match="NavLinkMatch.All">
                        <span class="bi bi-person-circle" aria-hidden="true"></span> Schedule
                    </NavLink>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Login" Match="NavLinkMatch.All">
                        <i class="bi bi-box-arrow-in-right"></i> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Groups">
                        <i class="bi bi-people-fill"></i> Groups
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView>
        <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Grades">
                <span class="bi bi-bar-chart-line" aria-hidden="true"></span> Grades
            </NavLink>
        </div>
    </Authorized>
</AuthorizeView>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="bi bi-house-door-fill"></i> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <i class="bi bi-plus-square-fill"></i> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <i class="bi bi-list-nested"></i> Weather
            </NavLink>
        </div>
    </nav>

    <AuthorizeView>
        <Authorized>
            <div class="nav-item px-3 mb-3">
                <button class="btn btn-link nav-link text-start w-100" @onclick="Logout">
                    <i class="bi bi-box-arrow-right"></i> Logout
                </button>
            </div>
        </Authorized>
    </AuthorizeView>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task Logout()
    {
        await LocalStorage.RemoveItemAsync("jwt");
        await LocalStorage.RemoveItemAsync("refresh");

        if (AuthProvider is JwtAuthenticationStateProvider jwtAuth)
        {
            await jwtAuth.GetAuthenticationStateAsync();
        }

        NavigationManager.NavigateTo("/login", forceLoad: true);
    }
}
